.sidebar {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 18vw;
    margin: 25px 35px 35px 35px;
    border: 0.5px solid lightgray;
    border-radius: 10px 10px 10px 10px;
    height: fit-content;
}

.sidebar__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
}

.sidebar__avatar {
    width: 70px !important;
    height: 70px !important;
    border: 3px solid white;
    margin-top: -35px;
}

.sidebar__avatar__name {
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
}

.sidebar__avatar__title {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: #919191;
    margin-bottom: 10px;
}

.sidebar__stats {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.sidebar__stat {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.sidebar__stat__name {
    font-size: 12px;
    font-weight: 600;
    color: #7D7D7D;
}

.sidebar__stat__value {
    font-size: 12px;
    font-weight: 600;
    color: #0A66C2;
}

.horizontalLine {
    border: 0.5px solid #F3F2EF;
    margin: 10px 0px 10px 0px;
}

.sidebar__bottom {
    padding: 10px;
}

.sidebar__stat__tagname {
    font-size: 12px;
}

.sidebar__stat__tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    color: #666666;
}

.hashtag {
    font-weight: 800;
    font-size: 18px;
    margin-right: 15px;
    color: #666666;
}

.sidebar__profileBackground {
    object-fit: contain;
    width: 18vw;
    border-radius: 7px 7px 0px 0px;
}

.sidebar__stat__tag:hover {
    background: whitesmoke;
    cursor: pointer;
    border-radius: 15px;
    /* color: black; */
}